<div class="mb-4"  style="border: 1px solid black; border-radius: 10px; padding-right: 40px;
padding-bottom: 20px;
padding-left: 10px;
align-content: center;
min-width: 800px"  >
  <div class="row">
    <div class="col-12 col-md-10 CALModalSearch" data-toggle="modal"
             data-target="#documentModalCALModal">

      <div class="card border-0">
        <div class="card-block highlight-include" id="docViewCALModal" data-doc-id="" >

          <div class="document-header highlight-include d-flex" style="min-height: 5rem;">
            <div id="docViewDocIndicatorCALModal" class="align-self-center align-self-stretch p-2" style="border-width: 0.25rem!important; border-style: none none none solid; border-color: #DEE2E6;"></div>
            <div class="align-self-center py-2">
              <h2 class="document-title-font-family" id="docViewDocTitleCALModal" style="margin-bottom: 0;"></h2>
              <small id="docViewDocMetaCALModal" class="text-muted text-monospace small smallDocumentIndicatorSelector"></small>
            </div>
            <button id="docViewDocCloseButtonCALModal" type="button" class="align-self-center close ml-auto d-none" style="font-size: medium;min-width: 4rem;" aria-label="Close Document">
              <span aria-hidden="true">Close ×</span>
            </button>
          </div>

          <span id="docViewDocMessageCALModal" class="docView-default-font-family p-4 my-3
          highlight-exclude"></span>

          <ul class="nav nav-tabs mt-4 home-nav text-uppercase small d-none docViewTab" id="docViewTab_" role="tablist">
            <li class="nav-item pl-1">
              <a class="nav-link px-3 active font-weight-bold" id="doc-extracted-text-tab" data-toggle="tab" href="#extracted-text-tab-content" role="tab"><i class="fas fa-align-left pr-1"></i> Extracted text</a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link px-3 rounded-0" id="doc-preview-tab" data-toggle="tab" href="#doc-preview-tab-content" role="tab"><i class="fas fa-eye pr-1"></i> Preview</a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link px-3 rounded-0" id="doc-details-tab" data-toggle="tab" href="#doc-details-tab-content" role="tab"><i class="fas fa-info-circle pr-1"></i> Details</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="extracted-text-tab-content" role="tabpanel">
              <div class="document-body mt-2" id="docViewDocWrapperCALModal">
                <div class="card border-0 {% if not request.user.current_session.is_summary %}d-none{% endif %}">
                  <div class="card-body">
                    <!-- <div class="d-flex w-50 justify-content-between font-sans text-primary mb-3 border-bottom highlight-exclude unselectable" unselectable="on">
                      <small class="highlight-exclude">Summary</small>
                    </div> -->
                    <div id="docViewDocSnippetCALModal"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="doc-preview-tab-content" role="tabpanel">
              <!-- Document Preview Tab -->
            </div>

            <div class="tab-pane fade" id="doc-details-tab-content" role="tabpanel">
              <!-- Document Details Tab -->
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-2 d-none d-sm-block align-content-center" >
      <div class="sticky-top card border-0 mr-2" style="top:75px; z-index: 0;">
        <div class="card-body p-0 mt-3">
          <h6 class="card-title text-secondary mb-0 unselectable" unselectable="on">Judge Document</h6>
          <div class="small"><code id="docno_text">Docid: </code><code
            id="docViewDocIDCALModal"></code></div>

          <div class="text-left mx-auto">
            <div class="d-flex flex-row flex-md-column judging-criteria-btn-group SERP" role="group" data-doc-id="">
              <a href="#" class="btn btn-sm btn-outline-secondary d-flex align-items-center
              docViewDocNonRelButtonCALModal rounded-0">Not {% if main_judging_criteria_name %}{{ main_judging_criteria_name }}{% else %}Relevant{% endif %}</a>
              <a href="#" class="btn btn-sm btn-outline-secondary d-flex align-items-center
              docViewDocRelButtonCALModal  rounded-0 mx-1 mx-md-0 my-0 my-md-
              1">{% if main_judging_criteria_name %}{{ main_judging_criteria_name }}{% else %}Relevant{% endif %}</a>
              <a href="#" class="btn btn-sm btn-outline-secondary d-flex align-items-center
              docViewDocHRelButtonCALModal rounded-0">Highly {% if main_judging_criteria_name %}{{ main_judging_criteria_name }}{% else %}Relevant{% endif %}</a>
            </div>


          </div>



        </div>
      </div>
    </div>


  </div>
</div>

