<div class="modal" id="documentModalCALModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xlg" role="document">
    <div class="modal-content">
      <div class="modal-header pb-0">
        <div class="document-header highlight-include d-flex flex-grow-1" style="min-height: 5rem;">

          <button id="docViewDocCloseButtonCALModal" type="button" class="align-self-center close
          ml-auto d-none" style="font-size: medium;min-width: 4rem;" aria-label="Close Document">
            <span aria-hidden="true">Close ×</span>
          </button>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-md-8">

            <!-- <nav class="nav nav-pills">
              <div class="d-flex px-3 py-2">
                <span class="pr-2 py-1 align-self-end small align-self-center text-muted border-right unselectable" unselectable="on">Document viewer settings</span>
                <a class="nav-link small ml-2 px-2 py-1 align-self-end active" href="#"><i class="fas fa-highlighter"></i></a>
                <a class="nav-link small ml-2 px-2 py-1"  data-toggle="modal" data-target="#keyboardShortcutsModal" href="#"><i class="fas fa-keyboard"></i></a>
                <a class="nav-link small ml-2 px-2 py-1 disabled" href="#" tabindex="-1"><i class="fas fa-tag"></i></a>
              </div>
            </nav> -->

            <div class="card border-0">
              <div class="card-block highlight-include" id="docView" data-doc-id="">

                <div class="document-header highlight-include d-flex" style="min-height: 5rem;">
                  <div id="modalDocIndicator" class="align-self-center align-self-stretch p-2" style="border-width: 0.25rem!important; border-style: none none none solid; border-color: #DEE2E6;"></div>
                  <div class="align-self-center py-2">
                    <h2 class="document-title-font-family" id="modalDocTitle"
                        style="margin-bottom: 0;"></h2>
                    <small id="modalDocMeta" class="text-muted text-monospace small
                    smallDocumentIndicatorSelector"></small>
                  </div>
                  <button id="docViewDocCloseButton" type="button" class="align-self-center close ml-auto d-none" style="font-size: medium;min-width: 4rem;" aria-label="Close Document">
                    <span aria-hidden="true">Close ×</span>
                  </button>
                </div>

                <span id="modalDocMessage" class="docView-default-font-family p-4 my-3
                highlight-exclude"></span>

                <ul class="nav nav-tabs mt-4 home-nav text-uppercase small d-none docViewTab" id="docViewTab_" role="tablist">
                  <li class="nav-item pl-1">
                    <a class="nav-link px-3 active font-weight-bold" id="doc-extracted-text-tab" data-toggle="tab" href="#extracted-text-tab-content" role="tab"><i class="fas fa-align-left pr-1"></i> Extracted text</a>
                  </li>
                  <li class="nav-item px-1">
                    <a class="nav-link px-3 rounded-0" id="doc-preview-tab" data-toggle="tab" href="#doc-preview-tab-content" role="tab"><i class="fas fa-eye pr-1"></i> Preview</a>
                  </li>
                  <li class="nav-item px-1">
                    <a class="nav-link px-3 rounded-0" id="doc-details-tab" data-toggle="tab" href="#doc-details-tab-content" role="tab"><i class="fas fa-info-circle pr-1"></i> Details</a>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="extracted-text-tab-content" role="tabpanel">
                    <div class="document-body mt-2" >
                      <div class="card border-0 {% if not request.user.current_session.is_summary %}d-none{% endif %}">
                        <div class="card-body">
                          <!-- <div class="d-flex w-50 justify-content-between font-sans text-primary mb-3 border-bottom highlight-exclude unselectable" unselectable="on">
                            <small class="highlight-exclude">Summary</small>
                          </div> -->
                          <div id="modalDocSnippet"></div>
                        </div>
                      </div>

                      {% if request.user.current_session.show_full_document_content and request.user.current_session.strategy != 'doc' %}
                        <div class="row mt-3">
                          <div class="col-12">
                            <a id="docViewDocShowFullDocumentButtonCALModal"
                               class="btn btn-sm btn-block btn-outline-secondary font-sans highlight-exclude" href="#"
                               onclick="return show_full_doc_cal_modal();">Show full document</a>
                          </div>
                        </div>
                      {% endif %}

                      <div class="card border-0">
                        <div class="card-body py-0" id="FullDocumentBodyCALModal"
                             style="display:{% if request.user.current_session.show_full_document_content and request.user.current_session.strategy != 'doc' %}none{% else %}block{% endif %};">
                          <div class="d-flex w-50 justify-content-between font-sans text-primary mb-3 border-bottom highlight-exclude unselectable" unselectable="on">
                            <small class="highlight-exclude">Document content</small>
                          </div>
                          <div id="modalDocBody"></div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="tab-pane fade" id="doc-preview-tab-content" role="tabpanel">
                    <!-- Document Preview Tab -->
                  </div>

                  <div class="tab-pane fade" id="doc-details-tab-content" role="tabpanel">
                    <!-- Document Details Tab -->
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-2 d-none d-sm-block">
            <div class="sticky-top card border-0 mr-2" style="top:75px; z-index: 0;">
              <div class="card-body p-0 mt-3">
                <h6 class="card-title text-secondary mb-0 unselectable" unselectable="on">Judge Document</h6>
                <div class="small"><code id="docno_text">Docid: </code><code
                  id="modalDocID"></code></div>

                <div class="text-left">
                  <div class="btn-group mt-3 judging-criteria-btn-group" role="group" data-doc-id="">
                    <a href="#" data-dismiss="modal" class="btn btn-sm btn-outline-secondary d-flex
                    align-items-center docViewDocNonRelButtonCALModal">Not {% if main_judging_criteria_name %}{{ main_judging_criteria_name }}{% else %}Relevant{% endif %}</a>
                    <a href="#" data-dismiss="modal" class="btn btn-sm btn-outline-secondary d-flex
                    align-items-center docViewDocRelButtonCALModal">{% if main_judging_criteria_name %}{{ main_judging_criteria_name }}{% else %}Relevant{% endif %}</a>
                    <a href="#" data-dismiss="modal" class="btn btn-sm btn-outline-secondary d-flex
                    align-items-center docViewDocHRelButtonCALModal">Highly {% if main_judging_criteria_name %}{{ main_judging_criteria_name }}{% else %}Relevant{% endif %}</a>
                  </div>
                </div>


                <div id="highlighted_words">
                  <h5 class="card-title text-secondary mt-4 unselectable" unselectable="on">Highlighted terms <span class="badge badge-secondary float-right">Beta</span></h5>
                  <div class="input-group mb-3">
                    <input id="search_content" autocomplete="off" type="search" class="form-control search-input bg-light text-dark no-border shadow-none" placeholder="Highlight">

                    <div class="input-group-append">
                      <button class="btn btn-sm btn-light" data-search="next" id="searchNext"
                           type="button">&darr;</button>
                      <button class="btn btn-sm btn-light" data-search="prev" type="button">&uarr;</button>
                      {%comment%}<button class="btn btn-sm btn-light" data-search="clear" type="button">&times;</button>{%endcomment%}
                    </div>
                  </div>
                  <ul class="list-group" id="highlighted_terms_list"></ul>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
