<div class="modal" id="TaskFinishedModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary">Task Completed!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     {% if experiment_completed %}
        <div class="modal-body">
            <p>Congratulations! You have completed all the tasks. Please visit the homepage to
              complete the post-experiment questionnaire.</p>
         </div>
        <div class="modal-footer">
            <a class="btn btn-outline-primary" data-dismiss="modal" href="{% url 'core:home'%}">Go to homepage</a>
        </div>
      {% else %}
        <div class="modal-body">
             <p>Congratulations! You have completed the task. Please visit the homepage to
              complete the post-task questionnaire. Your next task will start as soon as you complete the questionnaire.
             </p>
        </div>
        <div class="modal-footer">
            <a class="btn btn-outline-primary" href="{% url 'core:home'%}">Go to homepage</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
